:root{
    --body-color: #cacccd;
    --first-father: #47ADF1;
    --secon-father: #9C72E4;
    --third-father: #64C0A9;
    --first-item: #F29E33;
    --second-item:#E56A9C;
    --third-item:#B0C926; 

    /* --checkmark:&#10003 */
    /* --xmark:&#x2718 */
}
html{
    font-family: "Lato", sans-serif;
}
body{
    background-color: var(--body-color);
}
.container{
    display: flex;
}
/* .first-father{
    background-color: var(--first-father);
}
.second-father{
    background-color: var(--second-father);
}
.third-father{
    background-color: var(--third-father);
}
.first-item{
    background-color: var(--first-item);
}
.second-item{
    background-color: var(--second-item);
}
.third-item{
    background-color: var(--third-item);
} */
/* header css part */
header{
    flex-direction: column;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
    color: white;
}
header div.first-item.second-father.first-position{
    flex-basis: 30%;
    padding-inline: 10px;
    padding-block: 10px;
    justify-content: space-around;
    flex-direction: row;
}
header div.second-item.third-father{
    gap: 10px;
    padding: 5px;
}
header div.first-item.second-father.second-position{
    flex-basis: 70%;
    padding-inline: 10px;
    flex-direction: column;
    align-items: center;
    padding-block: 60px;
    gap:10px
}
#header-p{
    text-align: center;
    padding-inline: 30%;
}
#header-title{
    padding-block: 30px;
}
header div.first-item.second-father.second-position div.second-item.third-father{
    padding: 5px;
    gap: 5px;
}
#first-button-header{
    border-radius: 50px;
    padding:10px
}
#second-button-header{
    border-radius: 50px;
    background-color: #23272a;
    padding: 10px;
    color: white;
}

/* main css part */
main {
    flex-direction: column;
}
main div.first-item.second-father.first-position{
    justify-content: center;
    padding-inline: 10%;
    padding-block: 10px;
    background-color: white;
}
main div.second-item.third-father.first-position{
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 20%;
}
#main-first-img{
    text-align: center;
    display: block;
    width:400px
}
#main-first-p{
    padding-top: 20px;
    font-size: 70%;
}
main div.first-item.second-father.second-position{
    justify-content: center;
    padding-inline: 10%;
    padding-block: 10px;
}
main div.second-item.third-father.second-position{
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 20%;
}
#main-second-img{
    text-align: center;
    display: block;
    width:400px
}
#main-second-p{
    padding-top: 20px;
    font-size: 70%;  
}
main div.first-item.second-father.third-position{
    justify-content: center;
    padding-inline: 10%;
    padding-block: 10px;
    background-color: white;
}
main div.second-item.third-father.third-position{
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 20%;
}
#main-third-img{
    text-align: center;
    display: block;
    width:400px
}
#main-third-p{
    padding-top: 20px;
    font-size: 70%;
}
main div.first-item.second-father.quarter-position{
    flex-direction: column;
    align-items: center;
    padding-inline: 10%;
    padding-block: 10px;
}
main div.second-item.third-father.quarter-position{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#main-quarter-img{
    text-align: center;
    display: block;
}
#main-quarter-p{
    padding-top: 20px;
    font-size: 70%;  
    padding-inline: 30%; 
}
main div.first-item.second-father.fifth-position{
    padding-inline: 30%;
    flex-direction: column;
    align-items: center;
    padding-block: 10px;
    gap: 10px;
}
#main-button{
        border-radius: 50px;
        background-color: #206ea9;
        padding: 10px;
        color: white;
}
/* footer css part */
footer {
    flex-direction: column;
    padding: 10px;
    background-color:#23272a ;
    color: white;
}
footer div.first-item.second-father.first-position{
   padding-block: 10px;
   padding-inline: 2%;
   justify-content: space-between;
}
footer div.second-item.third-father.first-position{
    padding-block: 10px;
    padding-inline: 2%;
    flex-direction: column;
    gap: 10px;
}
footer div.third-item.quarter-father.first-position{
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 2%;
}
footer div.second-item.third-father.second-position{
    flex-direction: column;
    padding-block: 10px;
    padding-inline: 2%;
    gap: 20px;
}
footer div.second-item.third-father.third-position{
    flex-direction: column;
    padding-block: 10px;
    padding-inline: 2%;
    gap: 20px;
}
footer div.second-item.third-father.quarter-position{
    flex-direction: column;
    padding-block: 10px;
    padding-inline: 2%;
    gap: 30px;
}
footer div.second-item.third-father.fifth-position{
    flex-direction: column;
    padding-block: 10px;
    padding-inline: 2%;
   gap: 20px;
}
footer div.first-item.second-father.second-position{
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 2%;
    border-top: 1px solid #206ea9;
}
footer h3{
    color: #206ea9;
}
footer div.second-item.third-father :first-child{
    color: #206ea9;
    font-weight: bold;
}
#footer-logo{
    display: block;
}
#footer-button{
    border-radius: 50px;
    background-color: #206ea9;
    padding: 10px;
    color: white;
}
